.side-overlay {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed;
    overflow: auto;
    z-index: 999;
}

.side-background {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
}

.side-visible {
    /* csslint ignore:start */
    transform: translateX(0) translateY(0) !important;
    /* csslint ignore:end */
}

.side-class-default-left {
    max-width: ~"calc(100% - 50px)";
}

.side-class-default-right {
    max-width: ~"calc(100% - 50px)";
}

.side-class-default-top {
    max-height: ~"calc(100% - 50px)";;
}

.side-class-default-bottom {
    max-height: ~"calc(100% - 50px)";;
}
